<header>
    <div class="social-medias">
        <ng-icon name="bootstrapFacebook" size="1.5rem" color="#a39e9e"></ng-icon>
        <ng-icon name="bootstrapTwitter" size="1.5rem" color="#a39e9e"></ng-icon>
        <ng-icon name="bootstrapInstagram" size="1.5rem" color="#a39e9e"></ng-icon>
    </div>
    <nav class="navigation">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class="profile">
        <ng-icon name="bootstrapPersonCircle" size="1.5rem" color="#a39e9e"></ng-icon>
    </div>
</header>
