<section class="app-menu">
    <div *ngIf="!loading" class="card-recipe-main">
        <div *ngFor="let r of recipe" class="card-recipe-box">
            <h1 class="title-recipe"> {{ r.title }} </h1>
            <div class="title-summary-box">
                <div class="summary-box">
                    <p class="summary-recipe" style="color: white" [innerHTML]="r.summary"></p>
                    <button class="see-more">View Recipe</button>
                </div>
                <div class="img-box">
                    <img class="img-recipe" [src]="r.image" alt="image of recipe">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading">Buscando dados...</div>
    <app-side-bar></app-side-bar>
</section>
